#encoding: utf-8
<% provide(:title, 'Editar formulario') %>

<% if (@formulario.principal) %>
  </br>
  <h1> Formulario <%=  @formulario.principal.nombre %></h1></br>
<% else %>
  </br>
  <h1>Formulario</h1></br>
<% end %>

<h3>Campos de datos</h3><p>(Los campos de datos se pueden completar parcialmente y serán guardados en un borrador. Así mismo, se puede comenzar por cualquiera de ellos.)</p>

<table class="table table-striped">

  <tr>
    <td>Datos Principales</td>

      <% unless (@formulario.principal) %>
        <td>Campo incompleto</td>
      <% end %>

      <% if (@formulario.principal) %>
        <% unless (@formulario.principal.valid?) %>
          <td>Campo incompleto</td>
        <% end %>
      <% end %>

       <% if (@formulario.principal) && (@formulario.principal.valid?) %>
        <td>Campo completo</td>
      <% end %>

    <% if (@formulario.principal) %>

    	<td><%= link_to t("scaffoldi18n.ver"), formulario_principal_path(@formulario, @formulario.principal)  %></td>
      <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_principal_path(@formulario, @formulario.principal)  %></td>
    <% else %>
      <td><%= link_to t("scaffoldi18n.new"), new_formulario_principal_path(@formulario) %></td>
      <td></td>
    <% end %>
  </tr>

  <tr>
    <td>Datos generales del espectáculo</td>

      <% unless (@formulario.datos_esp) %>
        <td>Campo incompleto</td>
      <% end %>

      <% if (@formulario.datos_esp) %>
        <% unless (@formulario.datos_esp.valid?) %>
          <td>Campo incompleto</td>
        <% end %>
      <% end %>

       <% if (@formulario.datos_esp) && (@formulario.datos_esp.valid?) %>
        <td>Campo completo</td>
      <% end %>

    <% if (@formulario.datos_esp) %>

    	<td><%= link_to t("scaffoldi18n.ver"), formulario_datos_esp_path(@formulario, @formulario.datos_esp)  %></td>
      <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_datos_esp_path(@formulario, @formulario.datos_esp)  %></td>
    <% else %>
      <td><%= link_to t("scaffoldi18n.new"), new_formulario_datos_esp_path(@formulario) %></td>
      <td></td>
    <% end %>
  </tr>

  <tr>
    <td>Datos técnicos del espectáculo</td>

      <% unless (@formulario.datos_tec) %>
        <td>Campo incompleto</td>
      <% end %>

      <% if (@formulario.datos_tec) %>
        <% unless (@formulario.datos_tec.valid?) %>
          <td>Campo incompleto</td>
        <% end %>
      <% end %>

       <% if (@formulario.datos_tec) && (@formulario.datos_tec.valid?) %>
        <td>Campo completo</td>
      <% end %>

    <% if (@formulario.datos_tec) %>

    	<td><%= link_to t("scaffoldi18n.ver"), formulario_datos_tec_path(@formulario, @formulario.datos_tec)  %></td>
      <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_datos_tec_path(@formulario, @formulario.datos_tec)  %></td>
    <% else %>
      <td><%= link_to t("scaffoldi18n.new"), new_formulario_datos_tec_path(@formulario) %></td>
      <td></td>
    <% end %>

  </tr>

  <tr>
  <td>Datos del elenco en gira</td>

      <% unless (@formulario.elenco_en_gira) %>
        <td>Campo incompleto</td>
      <% end %>

      <% if (@formulario.elenco_en_gira) %>
        <% @es_invalido = nil %>
        <% @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.each do |integrante| %>
          <%  unless integrante.valid? %>
            <% @es_invalido = true 
              break %>
          <% end %>
        <% end %>

        <% if (@es_invalido) %>
          <td>Campo incompleto</td>
        <% else %>
          <td>Campo completo</td>
        <% end %>
      <% end %>

  <% if (@formulario.elenco_en_gira) %>
    <td></td>
    <td><%= link_to t("scaffoldi18n.edit"), formulario_elencos_en_gira_path(@formulario) %></td>
  	</tr>
  <% else %>
  	<td><%= link_to t("scaffoldi18n.new"), formulario_elencos_en_gira_path(@formulario, @formulario.elenco_en_gira)  %></td>
  	<td></td>
  <% end %>

  <% if (@formulario.principal) %>
    <% if (@formulario.principal.grupo.codigo == "a" ) %>
      <tr>
        <td>Datos del grupo</td>

        <% unless (@formulario.datos_grupo) %>
          <td>Campo incompleto</td>
        <% end %>

        <% if (@formulario.datos_grupo) %>
          <% unless (@formulario.datos_grupo.valid?) %>
            <td>Campo incompleto</td>
          <% end %>
        <% end %>

        <% if (@formulario.datos_grupo) && (@formulario.datos_grupo.valid?) %>
          <td>Campo completo</td>
        <% end %>

        <% if (@formulario.datos_grupo) %>

        	<td><%= link_to t("scaffoldi18n.ver"), formulario_datos_grupo_path(@formulario, @formulario.datos_grupo)  %></td>
          <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_datos_grupo_path(@formulario, @formulario.datos_grupo)  %></td>
        <% else %>
          <td><%= link_to t("scaffoldi18n.new"), new_formulario_datos_grupo_path(@formulario) %></td>
        	<td></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td>Datos del responsable</td>

      <% unless (@formulario.responsable) %>
        <td>Campo incompleto</td>
      <% end %>

      <% if (@formulario.responsable) %>
        <% unless (@formulario.responsable.valid?) %>
          <td>Campo incompleto</td>
        <% end %>
      <% end %>

      <% if (@formulario.responsable) && (@formulario.responsable.valid?) %>
        <td>Campo completo</td>
      <% end %>

      <td><%= link_to t("scaffoldi18n.new"), formulario_responsables_path(@formulario) %></td>
      <td></td>
  </tr>

</table>

<% if (@formulario.principal) && (@formulario.principal.valid?) %>
  <% if (@formulario.datos_esp) && (@formulario.datos_esp.valid?) %>
    <% if (@formulario.datos_tec) && (@formulario.datos_tec.valid?) %>
      <% if (@formulario.elenco_en_gira) && (@formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Actor').count >= 1) %>
        <% if (@formulario.datos_grupo) && (@formulario.datos_grupo.valid?) %>
          <% if (@formulario.responsable) && (@formulario.responsable.valid?) %>
            <%= link_to "Enviar Formulario", formulario_formularios_terminados_path(@formulario), :data => {confirm: t("scaffoldi18n.are_you_sure?")}, class: "btn btn-medium btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= link_to "Volver a los formularios", formularios_path %>
