#encoding: utf-8
<% provide(:title, 'Editar formulario') %>

<% if (@formulario.principal) %>
  <h1> Formulario <%=  @formulario.principal.nombre %></h1></br>
<% else %>
  <h1> Editar Formulario </h1>
<% end %>

<table class="table table-striped">
  <tr>

    <th>Tipo de datos</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>Datos Principales</td>

    <% if (@formulario.principal) %>

    	<td><%= link_to t("scaffoldi18n.ver"), formulario_principal_path(@formulario, @formulario.principal)  %></td>
      <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_principal_path(@formulario, @formulario.principal)  %></td>
    <% else %>
      <td><%= link_to t("scaffoldi18n.new"), new_formulario_principal_path(@formulario) %></td>
      <td></td>
    <% end %>
  </tr>

  <tr>
    <td>Datos generales del espectáculo</td>

    <% if (@formulario.datos_esp) %>

    	<td><%= link_to t("scaffoldi18n.ver"), formulario_datos_esp_path(@formulario, @formulario.datos_esp)  %></td>
      <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_datos_esp_path(@formulario, @formulario.datos_esp)  %></td>
    <% else %>
      <td><%= link_to t("scaffoldi18n.new"), new_formulario_datos_esp_path(@formulario) %></td>
      <td></td>
    <% end %>
  </tr>

  <tr>
    <td>Datos técnicos del espectáculo</td>


    <% if (@formulario.datos_tec) %>

    	<td><%= link_to t("scaffoldi18n.ver"), formulario_datos_tec_path(@formulario, @formulario.datos_tec)  %></td>
      <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_datos_tec_path(@formulario, @formulario.datos_tec)  %></td>
    <% else %>
      <td><%= link_to t("scaffoldi18n.new"), new_formulario_datos_tec_path(@formulario) %></td>
      <td></td>
    <% end %>

  </tr>

  <tr>
  <td>Datos del elenco en gira</td>

  <% if (@formulario.elenco_en_gira) %>
    <td></td>
    <td><%= link_to t("scaffoldi18n.edit"), formulario_elencos_en_gira_path(@formulario) %></td>
  	</tr>
  <% else %>
  	<td><%= link_to t("scaffoldi18n.new"), formulario_elencos_en_gira_path(@formulario, @formulario.datos_tec)  %></td>
  	<td></td>
  <% end %>

  <% if (@formulario.principal) %>
    <% if (@formulario.principal.grupo.codigo == "a" ) %>
      <tr>
        <td>Datos del grupo</td>

        <% if (@formulario.datos_grupo) %>

        	<td><%= link_to t("scaffoldi18n.ver"), formulario_datos_grupo_path(@formulario, @formulario.datos_grupo)  %></td>
          <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_datos_grupo_path(@formulario, @formulario.datos_grupo)  %></td>
        <% else %>
          <td><%= link_to t("scaffoldi18n.new"), new_formulario_datos_grupo_path(@formulario) %></td>
        	<td></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <td>Datos del responsable</td>

    <% if (@formulario.responsable) %>

    	<td><%= link_to t("scaffoldi18n.ver"), formulario_responsable_path(@formulario, @formulario.responsable)  %></td>

      <td><%= link_to t("scaffoldi18n.edit"), edit_formulario_responsable_path(@formulario, @formulario.responsable)  %></td>
    <% else %>
      <td><%= link_to t("scaffoldi18n.new"), new_formulario_responsable_path(@formulario) %></td>
      <td></td>
    <% end %>
  </tr>

</table>