<% provide(:title, "Iniciar Sesion") %>
<h1>Iniciar Sesion</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Iniciar Sesion", class: "btn btn-large btn-primary" %>
    <% end %>
    <p><%= link_to "Olvido su contraseña?", new_password_recover_path %></p>
    <p>Nuevo Usuario? <%= link_to "Registrate Ahora!", signup_path %></p>
  </div>
</div>
