#encoding: utf-8
<% provide(:title, 'Formulario de elenco en gira') %>
<h1>Elenco en gira</h1>

<div id="actores">

<h3>Intérpretes</h3><p>(* 1 Intérprete como mínimo)</p>
<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>CUIL / CUIT</th>
    <th>Fecha de nacimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @actores) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.email %></td>
    <td><%= integrante.cuil_cuit %></td>
    <td><%= I18n.l(integrante.fecha_de_nacimiento) if integrante.fecha_de_nacimiento %></td>

    <td><%= link_to "Ver", formulario_actor_path(@formulario, integrante) %></td>

    <td><%= link_to "Modificar", edit_formulario_actor_path(@formulario, integrante) %></td>

    <td><%= link_to t("scaffoldi18n.destroy"), formulario_actor_path(@formulario, integrante), :data => {confirm: t("scaffoldi18n.are_you_sure?")}, method: :delete %></td>
    
  <% end %>
</table>
<%= link_to "Nuevo intérprete", new_formulario_actor_path(@formulario), class: "btn btn-medium btn-primary" %>

<br />

</div>
</br>
</br>
<p>Recordar que para las funciones en gira, los roles a cubrir además de los intérpretes, es de TRES (3) personas como máximo, no pudiendo ser más de DOS (2) los roles de Técnicos/Asistentes. Por ejemplo: en el caso que haya UN (1) Director en gira, los Técnicos/Asistentes en gira podrán ser como máximo DOS (2); en el caso que haya DOS (2) Directores en gira, los Técnicos/Asistentes en gira podrán ser como máximo UNO (1). Asimismo, en el caso que el director sea intérprete del espectáculo, ese lugar no será reemplazable, es decir que aunque el espectáculo no tenga ningún Director en gira, igualmente los Técnicos/Asistentes podrán ser como máximo DOS (2). Para mayores detalles, ver en <a href="../../INT_PRESENTA_Convocatoria_Catalogo_2015.doc"> Reglamentación </a>“Monto de los Honorarios”.</p>
</br>

<% if (@directores.count + @tecnicos.count) > 3 %>
  <font color="red", size=4>ATENCION!! Esta rompiendo el reglamento con la relación que tiene que existir entre directores y técnicos</font>
<% end %>
<% if @directores.count > 3 %>
  <font color="red", size=4>ATENCION!! Sobrepaso el limite de directores que puede agregar</font>
<% end %>
<% if @tecnicos.count > 2 %>
  <font color="red", size=4>ATENCION!! Sobrepaso el limite de técnicos que puede agregar</font>
<% end %>

<div id="directores">

<h3>Directores</h3><p>(* 3 Directores como máximo)</p>
<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>CUIL / CUIT</th>
    <th>Fecha de nacimiento</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @directores) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.email %></td>
    <td><%= integrante.cuil_cuit %></td>
    <td><%= I18n.l(integrante.fecha_de_nacimiento) if integrante.fecha_de_nacimiento %></td>

    <td><%= link_to "Ver", formulario_director_path(@formulario, integrante) %></td>

    <td><%= link_to "Modificar", edit_formulario_director_path(@formulario, integrante) %></td>

    <td><%= link_to t("scaffoldi18n.destroy"), formulario_director_path(@formulario, integrante), :data => {confirm: t("scaffoldi18n.are_you_sure?")}, method: :delete %></td>
    
  <% end %>
</table>
<%= link_to "Nuevo director", new_formulario_director_path(@formulario), class: "btn btn-medium btn-primary" %>

<br />

</div>

<div id="tecnicos">

<h3>Técnicos</h3><p>(* 2 Técnicos como máximo)</p>
<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>CUIL / CUIT</th>
    <th>Fecha de nacimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @tecnicos) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.email %></td>
    <td><%= integrante.cuil_cuit %></td>
    <td><%= I18n.l(integrante.fecha_de_nacimiento) if integrante.fecha_de_nacimiento %></td>

    <td><%= link_to "Ver", formulario_tecnico_path(@formulario, integrante) %></td>

    <td><%= link_to "Modificar", edit_formulario_tecnico_path(@formulario, integrante) %></td>

        <td><%= link_to t("scaffoldi18n.destroy"), formulario_tecnico_path(@formulario, integrante), :data => {confirm: t("scaffoldi18n.are_you_sure?")}, method: :delete %></td>

    
  <% end %>
</table>
<%= link_to "Nuevo técnico", new_formulario_tecnico_path(@formulario), class: "btn btn-medium btn-primary" %></br>
</br>
</br>
<%= link_to "Finalizar elenco en gira", edit_formulario_path(@formulario), class: "btn btn-medium btn-primary" %>
</br>

</br>

<%= link_to t('Volver a campos de datos'), edit_formulario_path(@formulario) %>

</div>
