#encoding: utf-8
<% provide(:title, 'Formulario de elenco en gira') %>
<h1>Elenco en gira</h1>


<div id="actores">

<h3>Actores</h3>
<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>CUIL / CUIT</th>
    <th>Fecha de nacimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @actores) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.email %></td>
    <td><%= integrante.cuil_cuit %></td>
    <td><%= I18n.l(integrante.fecha_de_nacimiento) %></td>

    <td><%= link_to "Ver", formulario_actor_path(@formulario, integrante) %></td>

    <td><%= link_to "Modificar", edit_formulario_actor_path(@formulario, integrante) %></td>

    <td><%= link_to t("scaffoldi18n.destroy"), formulario_actor_path(@formulario, integrante), :data => {confirm: t("scaffoldi18n.are_you_sure?")}, method: :delete %></td>
    
  <% end %>
</table>
<%= link_to "Nuevo actor", new_formulario_actor_path(@formulario), class: "btn btn-medium btn-primary" %>

<br />

</div>

<div id="directores">

<h3>Directores</h3>
<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>CUIL / CUIT</th>
    <th>Fecha de nacimiento</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @directores) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.email %></td>
    <td><%= integrante.cuil_cuit %></td>
    <td><%= I18n.l(integrante.fecha_de_nacimiento) %></td>

    <td><%= link_to "Ver", formulario_director_path(@formulario, integrante) %></td>

    <td><%= link_to "Modificar", edit_formulario_director_path(@formulario, integrante) %></td>

    <td><%= link_to "Eliminar", formulario_director_path(@formulario, integrante) %></td>
    
  <% end %>
</table>
<%= link_to "Nuevo director", new_formulario_director_path(@formulario), class: "btn btn-medium btn-primary" %>

<br />

</div>

<div id="tecnicos">

<h3>Técnicos</h3>
<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>CUIL / CUIT</th>
    <th>Fecha de nacimiento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @tecnicos) do |integrante| %>

    <td><%= integrante.nombre %></td>
    <td><%= integrante.apellido %></td>
    <td><%= integrante.email %></td>
    <td><%= integrante.cuil_cuit %></td>
    <td><%= I18n.l(integrante.fecha_de_nacimiento) %></td>

    <td><%= link_to "Ver", formulario_tecnico_path(@formulario, integrante) %></td>

    <td><%= link_to "Modificar", edit_formulario_tecnico_path(@formulario, integrante) %></td>

    <td><%= link_to "Eliminar", formulario_tecnico_path(@formulario, integrante) %></td>
    
  <% end %>
</table>
<%= link_to "Nuevo técnico", new_formulario_tecnico_path(@formulario), class: "btn btn-medium btn-primary" %></br>

<br />
</br>
<h4>Ir a:</h4>
<% if (@formulario.principal) %>
    <%= link_to t("datos principales"), edit_formulario_principal_path(@formulario, @formulario.principal) %></br>
<% else %>
    <%= link_to t("Alta datos principales"), new_formulario_principal_path(@formulario) %></br>
<% end %>

<% if (@formulario.datos_esp) %>
      <%= link_to t("Edatos del espectaculo"), edit_formulario_datos_esp_path(@formulario, @formulario.datos_esp) %></br>
<% else %>
      <%= link_to t("Alta datos del espectaculo"), new_formulario_datos_esp_path(@formulario) %></br>
<% end %>

<% if (@formulario.datos_tec) %>
  <%= link_to t("datos tecnicos del espectaculo"), edit_formulario_datos_tec_path(@formulario, @formulario.datos_tec) %></br>
<% else %>
<%= link_to t("Alta datos tenicos del espectaculo"), new_formulario_datos_tec_path(@formulario) %></br>
<% end %>

<% if (@formulario.datos_grupo) %>
  <%= link_to t("datos del grupo"), edit_formulario_datos_grupo_path(@formulario, @formulario.datos_grupo) %></br>
<% else %>
  <% if (@formulario.principal) %>
    <% if (@formulario.principal.grupo.codigo == "a" ) %>
      <%= link_to t("Alta datos del grupo"), new_formulario_datos_grupo_path(@formulario) %></br>
    <% end %>
  <% end %>
<% end %>

<% if (@formulario.datos_del_responsable) %>
  <%= link_to t("datos del responsable"), edit_formulario_datos_del_responsable_path(@formulario, @formulario.datos_del_responsable) %></br>
<% else %>
  <%= link_to t("Alta datos del responsable"), new_formulario_datos_del_responsable_path(@formulario) %></br>
<% end %>

<%= link_to t('scaffoldi18n.back'), edit_formulario_path(@formulario) %>

</div>
