<h3>Datos del elenco en gira</h3>
	<h4>Intérpretes</h4>
	<% @actores = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Actor').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @actores) do |actor| %>

    <td><%= actor.nombre %></td>
    <td><%= actor.apellido %></td>
    <td><%= actor.cuil_cuit %></td>
    <td><%= actor.email %></td>
    <td><%= I18n.l(actor.fecha_de_nacimiento) if integrante.fecha_de_nacimiento%></td>
    <th></th>
  <% end %>
	</table>
	
	<h4>Directores</h4>
	<% @directores = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Director').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @directores) do |director| %>

    <td><%= director.nombre %></td>
    <td><%= director.apellido %></td>
    <td><%= director.cuil_cuit %></td>
    <td><%= director.email %></td>
    <td><%= I18n.l(director.fecha_de_nacimiento) %></td>
    <th></th>
  <% end %>
	</table>

	<h4>Técnicos</h4>
	<% @tecnicos = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Tecnico').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @tecnicos) do |tecnico| %>

    <td><%= tecnico.nombre %></td>
    <td><%= tecnico.apellido %></td>
    <td><%= tecnico.cuil_cuit %></td>
    <td><%= tecnico.email %></td>
    <td><%= I18n.l(tecnico.fecha_de_nacimiento) %></td>
    <th></th>
  <% end %>
	</table>
</br>
  <%= link_to t('Volver a campos de datos'), edit_formulario_path(@formulario) %>
