#encoding: utf-8
<%= form_for(@principal) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :provincia, "Provincia" %><br />
    <%= f.collection_select("provincia_id", @provincias, "id", "detalle", :include_blank => "Seleccione una provincia...") %>
  </div>

  <div class="field">
    <%= label_tag :region, "Regi칩n" %><br />
    <%= text_field_tag :region, nil, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :localidad, "Localidad" %><br />
    <%= f.collection_select("localidad_id", @localidades, "id", "detalle", :include_blank => "Seleccione una localidad...") %>
  </div>

  <div class="field">
    <%= f.label :grupo, "Grupo o espect치culo concertado" %><br />
    <%= f.collection_select("grupo_id", @grupos, "id", "detalle", :include_blank => "Seleccione un si es grupo o espect치culo concertado...") %>
  </div>

  <div class="field">
    <%= f.label :registro, "Usted esta registrado en el INT?" %><br />
    <%= f.collection_select("registro_id", @registros, "id", "detalle", :include_blank => "Seleccione una opcion...") %>
  </div>

  <div class="field">
    <%= f.label :nombre, "Nombre del espect치culo" %><br />
    <%= f.text_field :nombre %>
  </div>

  <% @condiciones.each do |condicion| %>
  <tr>
    <td><%= check_box_tag "condiciones_ids[]", condicion.id, false, :id => dom_id(condicion) %></td>
    <%= condicion.detalle %>
  </tr>
  <% end %>

  <div class="actions">
    <%= f.submit "Cargar Datos", class: "btn btn-large btn-primary" %>
  </div>
<% end %>