#encoding: utf-8
  <%= form_for([@formulario, @principal]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <div class="field">
    <br/><%= f.label :provincia, "Provincia" %>
    <%= f.collection_select("provincia_id", @provincias, "id", "detalle", :include_blank => "Seleccione una provincia...") %>
  </div>

  <div class="field">
    <br/><%= label_tag :region, "Región" %>
    <%= text_field_tag :region, nil, disabled: true %>
  </div>

  <div class="field">
    <br/><%= f.label :localidad, "Localidad" %>
    <%= f.collection_select("localidad_id", @localidades, "id", "detalle", :include_blank => "Seleccione una localidad...") %>
  </div>

  <div class="field">
    <br/><%= f.label :grupo, "Grupo o espectáculo concertado" %>
    <%= f.collection_select("grupo_id", @grupos, "id", "detalle", :include_blank => "Seleccione un si es grupo o espectáculo concertado...") %>
  </div>

  <div class="field">
    <br/><%= f.label :nombre, "Nombre del espectáculo" %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
  <br/><%= label_tag :condicion, "Condición por la que llena el formulario" %>
    <% @condiciones.each do |condicion| %>
    <tr>
      <td><%= check_box_tag "principal[condicion_ids][]", condicion.id, false, :id => dom_id(condicion) %></td>
      <td><%= condicion.detalle %></td>
    </tr>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Datos", class: "btn btn-large btn-primary" %>
  </div>
<% end %>