#encoding: utf-8
<% provide(:title, "Editar Datos principales") %>
<h1>Actualiza tus Datos principales</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@principal) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="field">
        <%= f.label :provincia, "Provincia" %><br />
        <%= f.collection_select("provincia_id", @provincias, "id", "detalle", :include_blank => "Seleccione una provincia...") %>
      </div>

      <div class="field">
        <%= f.label :region, "Region" %><br />
        <%= f.grouped_collection_select("region_id", @provincias, "regiones", "detalle", "id", "detalle" :include_blank => "Seleccione una region...") %>
      </div>

      <div class="field">
        <%= f.label :localidad, "Localidad" %><br />
        <%= f.collection_select("localidad_id", @localidades, "id", "detalle", :include_blank => "Seleccione una localidad...") %>
      </div>

      <div class="field">
        <%= f.label :grupo, "Grupo o espectaculo concertado" %><br />
        <%= f.collection_select("grupo_id", @grupos, "id", "detalle", :include_blank => "Seleccione un si es grupo o espectaculo concertado...") %>
      </div>

      <div class="field">
        <%= f.label :registro, "Usted esta registrado en el INT?" %><br />
        <%= f.collection_select("registro_id", @registros, "id", "detalle", :include_blank => "Seleccione una opcion...") %>
      </div>

      <div class="field">
        <%= f.label :nombre, "Nombre y Apellido" %><br />
        <%= f.text_field :nombre %>
      </div>

      <div class="field">
        <%= f.label :condicion, "Condiciones por la que llena el formulario" %><br />
        <%= f.radio_button("importe_currency", PartidaContable::TIPODEMONEDA, :include_blank => "Seleccione una moneda...") %>
      </div>

      <div class="actions">
        <%= f.submit "Actualizar Datos", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>