#encoding: utf-8
  <%= form_for([@formulario, @datos_responsable]) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
	  
	  <div class="field">
	    <br/><%= f.label :responsable, "Responsable" %>
	    <%= f.collection_select("responsable_id", @responsables, "id", "detalle", :include_blank => "Seleccione una opcion...") %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Guardar Datos", class: "btn btn-large btn-primary" %>
	  </div>
	<% end %>