#encoding: utf-8
<% provide(:title, 'Vista general del formulario') %>
<h1>Vista general del formulario</h1>
</br>
<h3>Datos Principales</h3>
<% if (@formulario.principal) %>
	<p>
		<b>Provincia:</b>
		<%= @formulario.principal.provincia.detalle %>
	</p>

	<p>
		<b>Localidad:</b>
		<%= @formulario.principal.localidad.detalle %>
	</p>

	<p>
		<b>Grupo o Espectáculo Concertado:</b>
		<%= @formulario.principal.grupo.detalle %>
	</p>

	<p>
		<b>Nombre del espectáculo:</b>
		<%= @formulario.principal.nombre %>
	</p>
<% end %>
<h3>Datos generales del espectáculo</h3>
<% if (@formulario.datos_esp) %>
	<p>
  	<b>Fecha de Estreno:</b>
  	<%= @formulario.datos_esp.fecha_de_estreno %>
	</p>

	<p>
	  <b>Nombre del autor:</b>
	  <%= @formulario.datos_esp.nombre_autor %>
	</p>

	<p>
	  <b>Nacionalidad del autor:</b>
	  <%= @formulario.datos_esp.nacionalidad_autor %>
	</p>

	<p>
	  <b>Duración del espectáculo:</b>
	  <%= @formulario.datos_esp.duracion_espectaculo %>
	</p>

	<p>
	  <b>Sinopsis del espectáculo:</b>
	  <%= @formulario.datos_esp.sinopsis_obra %>
	</p>

	<p>
	  <b>Géneros del espectáculo:</b>
	  <%= @formulario.datos_esp.gen_esps.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Públicos por experiencia:</b>
	  <%= @formulario.datos_esp.publs_exp.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Públicos por edad:</b>
	  <%= @formulario.datos_esp.publs_edad.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Formatos:</b>
	  <%= @formulario.datos_esp.formatos.map { |e| e.detalle }.join(", ") %>
	</p>
<% end %>
<% if (@formulario.datos_esp) %>
	<h3>Ficha Artística</h3>
	<h4>Artístas</h4>
	<% @artistas = @formulario.datos_esp.ficha_artisticas.all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Rol</th>
  </tr>

  <%= content_tag_for(:tr, @artistas) do |artista| %>

    <td><%= artista.nombre_artista %></td>
    <td><%= artista.apellido_artista %></td>
    <td><%= artista.rol_artista %></td>
  <% end %>
	</table>
<% end %>
<h3>Datos técnicos del espectáculo</h3>
<% if (@formulario.datos_tec) %>
	<p>
  	<b>Duración montaje:</b>
  	<%= @formulario.datos_tec.duracion_montaje %>
	</p>

	<p>
	  <b>Duración desmontaje:</b>
	  <%= @formulario.datos_tec.duracion_desmontaje %>
	</p>

	<p>
	  <b>Tipo de espacio:</b>
	  <%= @formulario.datos_tec.esps_esps.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Descripción espacio:</b>
	  <%= @formulario.datos_tec.descripcion_espacio %>
	</p>

	<p>
	  <b>Ancho:</b>
	  <%= @formulario.datos_tec.ancho %>
	</p>

	<p>
	  <b>Alto:</b>
	  <%= @formulario.datos_tec.alto %>
	</p>

	<p>
	  <b>Profundidad:</b>
	  <%= @formulario.datos_tec.profundidad %>
	</p>

	<p>
	  <b>Listado de artefactos lumínicos:</b>
	  <%= @formulario.datos_tec.listado_artefactos_luminicos %>
	</p>

	<p>
	  <b>Listado sonido:</b>
	  <%= @formulario.datos_tec.listado_sonido %>
	</p>

	<p>
	  <b>Otros equipamientos:</b>
	  <%= @formulario.datos_tec.otros_equipamientos %>
	</p>

	<p>
	  <b>Peso total:</b>
	  <%= @formulario.datos_tec.peso_total %>
	</p>

	<p>
	  <b>Volumen total:</b>
	  <%= @formulario.datos_tec.volumen_total %>
	</p>

	<p>
	  <b>Otras necesidades:</b>
	  <%= @formulario.datos_tec.otras_necesidades %>
	</p>
<% end %>
<% if (@formulario.elenco_en_gira) %>
	<h3>Datos del elenco en gira</h3>
	<h4>Intérpretes</h4>
	<% @actores = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Actor').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @actores) do |actor| %>

    <td><%= actor.nombre %></td>
    <td><%= actor.apellido %></td>
    <td><%= actor.cuil_cuit %></td>
    <td><%= actor.email %></td>
    <td><%= I18n.l(actor.fecha_de_nacimiento) if actor.fecha_de_nacimiento %></td>
    <th></th>
  <% end %>
	</table>

	<h4>Directores</h4>
	<% @directores = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Director').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @directores) do |director| %>

    <td><%= director.nombre %></td>
    <td><%= director.apellido %></td>
    <td><%= director.cuil_cuit %></td>
    <td><%= director.email %></td>
    <td><%= I18n.l(director.fecha_de_nacimiento) if director.fecha_de_nacimiento %></td>
    <th></th>
  <% end %>
	</table>

	<h4>Técnicos</h4>
	<% @tecnicos = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Tecnico').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @tecnicos) do |tecnico| %>

    <td><%= tecnico.nombre %></td>
    <td><%= tecnico.apellido %></td>
    <td><%= tecnico.cuil_cuit %></td>
    <td><%= tecnico.email %></td>
    <td><%= I18n.l(tecnico.fecha_de_nacimiento) if tecnico.fecha_de_nacimiento %></td>
    <th></th>
  <% end %>
	</table>
<% end %>

<% if (@formulario.principal) %>
    <% if (@formulario.principal.grupo.codigo == "a" ) %>
			<h3>Datos del grupo</h3>
			<% if (@formulario.datos_grupo) %>
				<p>
	  			<b>Nombre del grupo:</b>
	  			<%= @formulario.datos_grupo.nombre_grupo %>
				</p>

				<p>
	  			<b>Historia del grupo:</b>
	  			<%= @formulario.datos_grupo.historia %>
				</p>
			<% end %>
		<% end %>
<% end %>
<h3>Datos del responsable</h3>
<% if (@formulario.responsable) %>
	<% if (@formulario.responsable.persona_fisica_e) %>
		<% @integrante = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(id: @formulario.responsable.persona_fisica_e.integrante_de_elenco_en_gira_id)[0] %>
		<p>
		 	<b>Nombre:</b>
		  <%= @integrante.nombre %>
		</p>

		<p>
		  <b>Apellido:</b>
		  <%= @integrante.apellido %>
		</p>

		<p>
			<b>CUIL / CUIT:</b>
			<%= @integrante.cuil_cuit %>
		</p>

		<p>
			<b>Fecha de nacimiento:</b>
			<%= I18n.l(@integrante.fecha_de_nacimiento) %>
		</p>

		<p>
			<b>Calle:</b>
			<%= @integrante.calle %>
		</p>

		<p>
			<b>Numero de calle:</b>
			<%= @integrante.altura_calle %>
		</p>

		<p>
		  <b>Piso:</b>
		  <%= @integrante.piso %>
		</p>

		<p>
		  <b>Departamento:</b>
		  <%= @integrante.depto %>
		</p>

		<p>
		 	<b>Provincia:</b>
		 	<%= @integrante.provincia.detalle %>
		</p>

		<p>
		  <b>Localidad:</b>
		  <%= @integrante.localidad.detalle %>
		</p>

		<p>
		  <b>Código postal:</b>
		  <%= @integrante.codigo_postal %>
		</p>

		<p>
		  <b>Teléfono particular:</b>
		  <%= @integrante.tel_particular %>
		</p>

		<p>
		 	<b>Teléfono celular:</b>
		  <%= @integrante.tel_celular %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @integrante.email %>
		</p>
	<% end %>
	<% if (@formulario.responsable.persona_fisica_n) %>
		<h3>Datos persona física </h3>
		</br>
		<p>
		  <b>Nombre:</b>
		  <%= @formulario.responsable.persona_fisica_n.nombre %>
		</p>

		<p>
		  <b>Apellido:</b>
		  <%= @formulario.responsable.persona_fisica_n.apellido %>
		</p>

		<p>
		  <b>CUIL / CUIT:</b>
		  <%= @formulario.responsable.persona_fisica_n.cuil_cuit %>
		</p>

		<p>
		  <b>Fecha de nacimiento:</b>
		  <%= I18n.l(@formulario.responsable.persona_fisica_n.fecha_de_nacimiento) %>
		</p>

		<p>
		  <b>Calle:</b>
		  <%= @formulario.responsable.persona_fisica_n.calle %>
		</p>

		<p>
		  <b>Numero de calle:</b>
		  <%= @formulario.responsable.persona_fisica_n.altura_calle %>
		</p>

		<p>
		  <b>Piso:</b>
		  <%= @formulario.responsable.persona_fisica_n.piso %>
		</p>

		<p>
		  <b>Departamento:</b>
		  <%= @formulario.responsable.persona_fisica_n.depto %>
		</p>

		<p>
		  <b>Provincia:</b>
		  <%= @formulario.responsable.persona_fisica_n.provincia.detalle %>
		</p>

		<p>
		  <b>Localidad:</b>
		  <%= @formulario.responsable.persona_fisica_n.localidad.detalle %>
		</p>

		<p>
		  <b>Código postal:</b>
		  <%= @formulario.responsable.persona_fisica_n.codigo_postal %>
		</p>

		<p>
		  <b>Teléfono particular:</b>
		  <%= @formulario.responsable.persona_fisica_n.tel_particular %>
		</p>

		<p>
		  <b>Teléfono celular:</b>
		  <%= @formulario.responsable.persona_fisica_n.tel_celular %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @formulario.responsable.persona_fisica_n.email %>
		</p>
		<% end %>
		<% if (@formulario.responsable.persona_juridica) %>
			<h3>Datos persona juridica</h3>
			</br>
			<p>
			  <b>Nombre:</b>
			  <%= @formulario.responsable.persona_juridica.nombre_per_juridica %>
			</p>

			<p>
			  <b>CUIT:</b>
			  <%= @formulario.responsable.persona_juridica.num_cuit %>
			</p>

			<p>
			  <b>Numero persona jurídica:</b>
			  <%= @formulario.responsable.persona_juridica.num_per_juridica %>
			</p>

			<p>
			  <b>Calle:</b>
			  <%= @formulario.responsable.persona_juridica.calle %>
			</p>

			<p>
			  <b>Numero de calle:</b>
			  <%= @formulario.responsable.persona_juridica.altura_calle %>
			</p>

			<p>
			  <b>Piso:</b>
			  <%= @formulario.responsable.persona_juridica.piso %>
			</p>

			<p>
			  <b>Departamento:</b>
			  <%= @formulario.responsable.persona_juridica.depto %>
			</p>

			<p>
			  <b>Provincia:</b>
			  <%= @formulario.responsable.persona_juridica.provincia.detalle %>
			</p>

			<p>
			  <b>Localidad:</b>
			  <%= @formulario.responsable.persona_juridica.localidad.detalle %>
			</p>

			<p>
			  <b>Código postal:</b>
			  <%= @formulario.responsable.persona_juridica.codigo_postal %>
			</p>

			<p>
			  <b>Teléfono entidad:</b>
			  <%= @formulario.responsable.persona_juridica.tel_entidad %>
			</p>

			<p>
			  <b>Email entidad:</b>
			  <%= @formulario.responsable.persona_juridica.email_entidad %>
			</p></br>

			<h4>Comisión Directiva</h4>
			  <h4>Directivos</h4>
			  <% @integrantes = @formulario.responsable.persona_juridica.integrantes_comision_directiva.all %>
			  <table class="table table-striped">
			  <tr>

			    <th>Cargo</th>
			    <th>Nombre</th>
			    <th>Apellido</th>
			    <th>CUIL / CUIT</th>
			    <th>Email</th>
			    <th>Fecha de Nacimiento</th>
			  </tr>

			  <%= content_tag_for(:tr, @integrantes) do |integrante| %>

			    <td><%= integrante.cargo %></td>
			    <td><%= integrante.nombre %></td>
			    <td><%= integrante.apellido %></td>
			    <td><%= integrante.cuil_cuit %></td>
			    <td><%= integrante.email %></td>
			    <td><%= I18n.l(integrante.fecha_de_nacimiento) %></td>
			  <% end %>
			  </table>
			<% end %>
		<% end %>
					</br>
<%= link_to t('Volver a formularios'), formularios_path %>