#encoding: utf-8
<% provide(:title, 'Vista general del formulario') %>
<h1>Vista general del formulario</h1>
</br>
<h3>Datos Principales</h3>
<% if (@formulario.principal) %>
	<p>
		<b>Provincia:</b>
		<%= @formulario.principal.provincia.detalle %>
	</p>

	<p>
		<b>Localidad:</b>
		<%= @formulario.principal.localidad.detalle %>
	</p>

	<p>
		<b>Grupo o Espectáculo Concertado:</b>
		<%= @formulario.principal.grupo.detalle %>
	</p>

	<p>
		<b>Nombre del espectáculo:</b>
		<%= @formulario.principal.nombre %>
	</p>
<% end %>
<h3>Datos generales del espectáculo</h3>
<% if (@formulario.datos_esp) %>
	<p>
  	<b>Fecha de Estreno:</b>
  	<%= @formulario.datos_esp.fecha_de_estreno %>
	</p>

	<p>
	  <b>Nombre del autor:</b>
	  <%= @formulario.datos_esp.nombre_autor %>
	</p>

	<p>
	  <b>Nacionalidad del autor:</b>
	  <%= @formulario.datos_esp.nacionalidad_autor %>
	</p>

	<p>
	  <b>Duración del espectáculo:</b>
	  <%= @formulario.datos_esp.duracion_espectaculo %>
	</p>

	<p>
	  <b>Sinopsis del espectáculo:</b>
	  <%= @formulario.datos_esp.sinopsis_obra %>
	</p>

	<p>
	  <b>Géneros del espectáculo:</b>
	  <%= @formulario.datos_esp.gen_esps.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Públicos por experiencia:</b>
	  <%= @formulario.datos_esp.publs_exp.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Públicos por edad:</b>
	  <%= @formulario.datos_esp.publs_edad.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Formatos:</b>
	  <%= @formulario.datos_esp.formatos.map { |e| e.detalle }.join(", ") %>
	</p>
<% end %>
<% if (@formulario.datos_esp) %>
	<h3>Ficha Artística</h3>
	<h4>Artístas</h4>
	<% @artistas = @formulario.datos_esp.ficha_artisticas.all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>Rol</th>
  </tr>

  <%= content_tag_for(:tr, @artistas) do |artista| %>

    <td><%= artista.nombre_artista %></td>
    <td><%= artista.apellido_artista %></td>
    <td><%= artista.rol_artista %></td>
  <% end %>
	</table>
<% end %>
<h3>Datos técnicos del espectáculo</h3>
<% if (@formulario.datos_tec) %>
	<p>
  	<b>Duración montaje:</b>
  	<%= @formulario.datos_tec.duracion_montaje %>
	</p>

	<p>
	  <b>Duración desmontaje:</b>
	  <%= @formulario.datos_tec.duracion_desmontaje %>
	</p>

	<p>
	  <b>Tipo de espacio:</b>
	  <%= @formulario.datos_tec.esps_esps.map { |e| e.detalle }.join(", ") %>
	</p>

	<p>
	  <b>Descripción espacio:</b>
	  <%= @formulario.datos_tec.descripcion_espacio %>
	</p>

	<p>
	  <b>Ancho:</b>
	  <%= @formulario.datos_tec.ancho %>
	</p>

	<p>
	  <b>Alto:</b>
	  <%= @formulario.datos_tec.alto %>
	</p>

	<p>
	  <b>Profundidad:</b>
	  <%= @formulario.datos_tec.profundidad %>
	</p>

	<p>
	  <b>Listado de artefactos lumínicos:</b>
	  <%= @formulario.datos_tec.listado_artefactos_luminicos %>
	</p>

	<p>
	  <b>Listado sonido:</b>
	  <%= @formulario.datos_tec.listado_sonido %>
	</p>

	<p>
	  <b>Otros equipamientos:</b>
	  <%= @formulario.datos_tec.otros_equipamientos %>
	</p>

	<p>
	  <b>Peso total:</b>
	  <%= @formulario.datos_tec.peso_total %>
	</p>

	<p>
	  <b>Volumen total:</b>
	  <%= @formulario.datos_tec.volumen_total %>
	</p>

	<p>
	  <b>Otras necesidades:</b>
	  <%= @formulario.datos_tec.otras_necesidades %>
	</p>
<% end %>
<% if (@formulario.elenco_en_gira) %>
	<h3>Datos del elenco en gira</h3>
	<h4>Intérpretes</h4>
	<% @actores = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Actor').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @actores) do |actor| %>

    <td><%= actor.nombre %></td>
    <td><%= actor.apellido %></td>
    <td><%= actor.cuil_cuit %></td>
    <td><%= actor.email %></td>
    <td><%= I18n.l(actor.fecha_de_nacimiento) %></td>
    <th></th>
	</table>
	<% end %>
	<h4>Directores</h4>
	<% @directores = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Director').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @directores) do |director| %>

    <td><%= director.nombre %></td>
    <td><%= director.apellido %></td>
    <td><%= director.cuil_cuit %></td>
    <td><%= director.email %></td>
    <td><%= I18n.l(director.fecha_de_nacimiento) %></td>
    <th></th>
	</table>
	<% end %>
	<h4>Técnicos</h4>
	<% @tecnicos = @formulario.elenco_en_gira.integrantes_de_elenco_en_gira.where(type: 'Tecnico').all %>
	<table class="table table-striped">
  <tr>

    <th>Nombre</th>
    <th>Apellido</th>
    <th>CUIL / CUIT</th>
    <th>Email</th>
    <th>Fecha de Nacimiento</th>
    <th></th>
  </tr>

  <%= content_tag_for(:tr, @tecnicos) do |tecnico| %>

    <td><%= tecnico.nombre %></td>
    <td><%= tecnico.apellido %></td>
    <td><%= tecnico.cuil_cuit %></td>
    <td><%= tecnico.email %></td>
    <td><%= I18n.l(tecnico.fecha_de_nacimiento) %></td>
    <th></th>
	</table>
	<% end %>
<% end %>

<% if (@formulario.principal) %>
    <% if (@formulario.principal.grupo.codigo == "a" ) %>
			<h3>Datos del grupo</h3>
			<% if (@formulario.datos_grupo) %>
				<p>
	  			<b>Nombre del grupo:</b>
	  			<%= @formulario.datos_grupo.nombre_grupo %>
				</p>

				<p>
	  			<b>Historia del grupo:</b>
	  			<%= @formulario.datos_grupo.historia %>
				</p></br>
			<% end %>
		<% end %>
<% end %>
<h3>Datos del responsable</h3>
<% if (@formulario.responsable) %>
	<p>Holaaaaaa</p>
<% end %>
</br>
<%= link_to t('Volver a formularios'), formularios_path %>